@keyframes slider {

0% , 20%{
	left: 0;
}

25%, 45% {
	left: -100%;
}

50%, 70% {
	left: -200%;
}

75%, 95% {
	left: -300%;
}

100% {
	left: -400%;
}
}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 25%;
	float: left;
}

#slider figure {
	position: relative;
	width: 400%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: slider 8s infinite ; 
}

@media (min-width: 992px) {
  body {
    padding-top: 25px;
  }
}

.hclass{
      font-family: 'Great Vibes', cursive;
      text-align: center;
      font-size: 40px;
  }

.class1{
      font-family: 'ZCOOL XiaoWei', serif;
      text-align: left;
      font-size: 15px;
  }

.about{
      margin-top: 10px;
      margin-left: 25px;
      padding-left: 35px;
    }

.tooltips {
  position: relative;
    display: inline-block;
}

.tooltips .tooltipstext {
    visibility: hidden;
    width: 100px;
    background-color: Teal;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
}

.tooltips:hover .tooltipstext {
    visibility: visible;
}